<mat-toolbar class="toolbar">
  <span>Dynamic User Dashboard</span>
  <app-search></app-search>
</mat-toolbar>
<ng-container>
  @if (loading|async) {
    <mat-progress-bar class="sticky top-0 w-full z-50" mode="indeterminate" color="accent"></mat-progress-bar>
  }
</ng-container>
<router-outlet></router-outlet>
