<div class="flex justify-center w-full mt-10">
    @if(user_details&&!isLoading){
    <div class="flex w-96 flex-col  bg-white border rounded-lg p-4 shadow">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="w-20 h-20 rounded-full self-center overflow-hidden mb-2">
            <img [src]="user_details.avatar" class="w-full h-full object-cover" alt="avatar">
        </div>
        <div class="text-center">
            <div class="font-semibold">{{user_details.first_name}} {{user_details.last_name}}</div>
            <div>Email: {{user_details.email}}</div>
            <div>ID: {{user_details.id}}</div>
        </div>
    </div>
    }
    @if(!user_details&&!isLoading){
        <h1>User Not Found!</h1>
    }
    @if(isLoading){
        <div class="border w-full border-gray-300 shadow rounded-md p-4 max-w-sm">
            <div class="flex flex-col items-center w-full animate-pulse">
                <div class="rounded-full bg-gray-700 h-20 w-20"></div>
                <div class="flex-1 space-y-6 py-1 w-full mt-4">
                    <div class="space-y-3">
                        <div class="h-2 bg-gray-700 rounded col-span-1"></div>
                    </div>
                    <div class="h-2 bg-gray-700 rounded"></div>
                </div>
            </div>
        </div>    }
</div>