<div class="flex flex-row items-center gap-x-8">
        <mat-form-field appearance="outline" >
            <input placeholder="ex. 3" matInput [formControl]="search">
        </mat-form-field>
    @if(user && search.value.length>0){
    <div (click)="goToDetails(user.id)" class="bg-green-500 rounded-2xl text-md px-4 py-2 cursor-pointer">
        {{user?.first_name}} {{user?.last_name}}
    </div>
    }
</div>